*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: #121314;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.card__content {
  position: relative;
  width: 449px;
  background-color: #171b21;
}

.card__pullshark {
  background-image: url("https://github.com/images/modules/profile/achievements/gradients/pull-shark-detail.png");
}

.card__yolo {
  background-image: url("https://github.com/images/modules/profile/achievements/gradients/yolo-detail.png");
}

.card--header {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 16px;
  border-radius: 6px 6px 0px 0px;
}

.card__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__img {
  width: 140px;
  height: 140px;
}

.card__button {
  position: absolute;
  top: 8px;
  right: 7px;
  width: 32px;
  height: 32px;
  padding: 4px;
  background-color: #6e7681;
  border: 0;
  border-radius: 8px;
}

.card__body {
  padding: 16px;
}

.card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card__heading {
  margin-bottom: 9px;
  margin-top: 4px;
  color: #c9d1d9;
}

.card__paragraph {
  margin-top: 0;
  color: #c9d1d9;
}

.card__history {
  border-top: 1px solid #30363d;
  color: #8b949e;
  font-size: 12px;
}

.card__trophy {
  display: flex;
  gap: 0.8rem;
}

.card__trophy span {
  color: #3fb950;
  font-weight: 600;
}

.card__repo {
  display: flex;
  gap: 0.8rem;
  padding-top: 8px;
}

.card__repo span {
  color: #58a6ff;
}


/* Media Queries */
@media screen and (max-width: 600px) {
  .card__content{
    width: unset;
  }
}